/* PC */
@media screen and (min-width: 992px) {
  .mobie-header {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
}
/* Tablet And Mobile*/
@media screen and (max-width: 991.98px) {
  .toggle-menu {
    display: block;
  }
  .navbar {
    position: relative;
  }
  .navbar .logo {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .navbar ul {
    display: none;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(204, 204, 204, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
  }
  .menu-drawer {
    transform: translateX(-100%);
    padding: 40px;
    transition: transform 0.5s;
    position: fixed;
    inset: 0 40% 0 0;
    z-index: 3;
    background-color: #fff;
  }
  .menu-drawer ul {
    margin-top: 20px;
  }
  .menu-drawer ul a {
    display: block;
    padding: 10px 0;
    font-weight: 500;
    color: #333;
  }
  .menu-drawer ul li + li {
    margin-top: 25px;
  }

  #menu--checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  #menu--checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .hero-img {
    display: none;
  }
  .hero-wrap .hero .info {
    margin: 0 auto;
    text-align: center;
    width: 75%;
  }
  .hero .info .sub-title {
    text-align: center;
  }
  .hero .info .title {
    text-align: center;
    margin-bottom: 10px;
  }
  .clients .social-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item-guides {
    margin: 0;
    flex-wrap: wrap;
    flex: 1;
  }
  .featured {
    height: auto;
  }
  .featured .featured-ex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .featured .interior > p + p {
    margin-right: 10px;
  }
  .stats .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stats .info {
    padding-left: 0;
  }
  .stats .info > h2 {
    width: 100%;
    text-align: center;
  }
  .stats .info > h2::before {
    display: none;
  }
  .stats .info > p {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .stats .img-block .img-item {
    margin: 0 auto;
    width: auto;
  }
  .row {
    margin: 0 auto;
  }
  .subscription .body {
    width: auto;
  }
  .img-subsrt {
    display: none;
  }
  .row-stats .row-h2 > h2 {
    font-size: 4rem;
  }
  .row-stats .row-p > p {
    font-size: 1rem;
    font-weight: 600;
  }
  .footer .list-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
/* Tablet */
@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .Mobile {
    display: none;
  }
}
/* Mobile */
@media screen and (max-width: 767.98px) {
  .action {
    display: none;
  }
  .featured {
    height: auto;
  }
  .hero .info .title {
    font-size: 4.2rem;
  }
  .hero .info .desc {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .hero-cta {
    min-width:90px;
  }
  .row-decs .decs-hidden {
    display: none;
  }
  .list-guides ul {
    flex-direction: column;
    row-gap: 25px;
  } 
  .featured .featured-ex {
    grid-template-columns: 100%;

  }
  .stats .row {
   justify-content: center;
   align-items: center;
  }
  .stats .info > h2 {
    margin-top: 30px;
    font-size: 2.4rem;
    width: 100%;
    line-height: 2.4rem;
  }
  .stats .info > p {
    text-align: center;
    margin-top: -40px;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .stats .img-block {
    width: auto !important;
  }
  .stats .info {
    width: 80%;
    margin: 0 auto;
  } 
  .row-stats {
    display: none;
  }
  .row-h2 {
   display: none;
  }
  .row-p {
    display: none;
  }
  .subscription .body {
    display: flex;
  }
  .subscription .body .info {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    padding: 0 ;
  }
  .subscription .info h2 {
    text-align: center;
  }
  .subscription .info p {
    text-align: center;
  }
  .subscription .btn-subscription {
    display: inline-block;
    margin: 20px auto 0px auto;
    width: 40%;
  }
  .footer .list-footer {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .footer .item-footer .footer-p  {
    margin: 0 auto;
  }
  .footer-logo {
   display: flex;
   justify-content: center;
   padding-bottom: 85px;
  }
}
